@import "/css/main.css";

#gallery-upload {
    margin: 0px;
    justify-content: center;
    display: block;
}

.gallery-year-inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin: 0;
}

.gallery-year-inner > img {
    width: 400px;
    height: 400px;
}