@import "/css/colors.css";

body, html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

p {
    font-family: 'Ariel', sans-serif;
}

h1, h2, h3 {
    color: var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px;
}

a.nolink {
    text-decoration: none;
    color: var(--primary-contrast);
}

nav a , nav p, nav span {
    color: var(--primary-contrast);
}

nav span {
    float: left;
}

.right-floating {
    float: right;
}

.left-floating {
    float: left;
}

.center-floating {
    float: center;
}

.padded {
    padding-left:  5px;
    padding-right: 5px;
}

/* These dropdown classes need working to work with my webpage */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* dropdown end */

section {
    padding: auto;
}

.big {
    font-size: 48px;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}