@import "./colors.css";

body, html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100%;
}

p {
    font-family: 'Ariel', sans-serif;
}

h1, h2, h3 {
    color: var(--primary-color);
}

nav {
    background-color: var(--primary-color);
    margin: 0;
    padding: 10px;
}

nav > a , nav > p, nav > span {
    color: var(--primary-contrast);
}


a.nolink {
    text-decoration: none;
    font: var(--primary-contrast);
}

.right-floating {
    float: right;
}

.left-floating {
    float: left;
}

.center-floating {
    float: center;
}

.padded {
    padding-left:  5px;
    padding-right: 5px;
}

.parallax-1 {
    background-image: url("/img/cover-image-dummy.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

section {
    padding: auto;
}

.big {
    font-size: 48px;
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    text-align: center;
    justify-content: center;
    padding: auto;
    margin: auto;
}